h1{
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size: 8em;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    padding-top: 1em
}

h2{
    color: #662771;
    font-family: 'Caveat', cursive;
    font-size: 5em;
    text-shadow: 2px 2px 2px #000000;
    padding-bottom: 50px;
    text-align: center;
}

h3{
    color: white;
    font-family: 'Yrsa', serif;
    font-size: 3em;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
}

h4{
    color: #662771;
    font-family: 'Caveat', cursive;
    font-size: 5em;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
}

h5{
    color: white;
    font: 'Caveat', cursive;
    font-size: 5em;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
}

h6{
    color:  #662771;
    font-family: 'Yrsa', serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
}

p{
    color: #6f6969;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
      float: left;
      width: 160px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

    .dl-horizontal dd {
      margin-left: 180px;
    }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  .container {
      margin-left: auto;
      margin-right: auto;
      padding-left:5px;
      padding-right:5px;
  }
  
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }