#rimg.bg-image{
    background-image: url("../assets/img/SoaringOwl.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.resume {
    background: #DDDDDD;
    padding: 100px 100px 100px 100px;
   }