h1{
    color:white;
    font-family: 'Dancing Script', cursive;
}

h2{
    color: white;
    font-family: 'Caveat', cursive;
}

h3{
    color: white;
    font-family: 'Yrsa', serif;
}

p{
    color: #453C3C;
    font-family: 'Alegreya Sans', sans-serif;
}